*{
    padding:0;
    margin:0;
}
a {
    color: #000;
    text-decoration: none;
}
header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background: orange;
    color: white;
    padding-left: 10px;
    position: fixed;
    display: flex;
    align-items: center;
}
header div:nth-child(1){
    width:5%;
}
header div:nth-child(2){
    width:80%;
    text-align: center;
    font-size: 1.4rem;
}
.div{
    display: flex;
    padding: 2%;
    border-bottom:2px solid #ccc;
}
.div div:nth-child(1){
    width:35%;
}
.div div:nth-child(1) img{
    width:100%;
}
.div div:nth-child(2){
    flex-grow: 1;
    margin-left: 1%;
}
.div div:nth-child(2) p{
    font-size: .8rem;
    color: #666;
}
.div div:nth-child(2) p:nth-child(2){
    margin-top: 6%;
    margin-bottom: 6%;
}
i{
    float: right;
}